* {
    font-family: 'Merriweather', serif;
}

body {
    background-color: #000435;
    color: #ffffff;
    text-align: center;
}

h1 {
    text-decoration: underline;
    color: #ffd61a;
}

h2 {
    color: #ffd61a;
}

.custom-image {
    display: inline-block;
    margin-top: 20px;
}