* {
    font-family: 'Merriweather', serif;
}

body {
    background-color: #000435;
    color: #ffffff;
    text-align: center;
}

h1 {
    text-decoration: underline;
    color: #ffd61a;
}

h2 {
    color: #ffd61a;
}

#card {
    background-color: white;
    color: black;
    width: 50vw;
    display: inline-block;
    border-radius: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#card:hover{
    background-color: #ffd61a;
}

.criminal-img{
    margin: 7px;
    border: 2px solid black;
}

.custom-image {
    display: inline-block;
    margin-top: 20px;
}